<h3>게시글 작성하기</h3>
<div class="formDiv">
    <form action="createPost" method="POST">
        <label for="title"><b>글 제목</b></label>
        <input type="text" name="title" id="title" placeholder="제목을 입력해주세요"><br>

        <textarea name="content" id="content" cols="40" rows="10" placeholder="내용을 입력해주세요"></textarea><br>
        <input type="submit" value="글 작성하기">
    </form>
</div>