<div class="formDiv">
<form action="/login" method="POST">
    <label for="userId"><b>아이디</b></label>
    <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요"><br>
    
    <label for="password"><b>비밀번호</b></label>
    <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요"><br>

    <input type="submit" class="btn">
</form>
</div>
<a href="/register">회원가입</a>